.block {
  $self: &;

  position: $block-position;
  padding: 0;
  color: $white;

  &-top {
    position: inherit;
    height: $block-height-md;
  }

  &-middle {
    position: inherit;
    height: $block-height-sm;
  }

  &-bottom {
    position: inherit;
    height: $block-height-sm;
    color: $dark;
    background: $white;
  }

  &-double {
    position: inherit;
    height: $block-height-lg;
    background: $white;
  }

  @each $name, $color in $block-colors {
    &-#{$name} {
      background: #{$color};

      #{$self}-middle {
        background: theme-color-level(#{$name}, if(#{$name} == "primary", 1, 2));
      }

      #{$self}-bottom {
        color: $white;
        background: theme-color-level(#{$name}, if(#{$name} == "primary", 2, 3));
      }
    }
  }
}

.analytics {
  padding: 0;
  margin-bottom: ($spacer * 4);

  box-shadow: $box-shadow;
}

.serpbook {
  padding: 0;
}
