%block-common {
  position: inherit;
  padding: ($grid-gutter-width / 2);
}

.block {
  $self: &;

  position: relative;
  padding: 0;
  color: $white;

  &-top {
    @extend %block-common;
    height: $block-height-md;
    h1 {
      //font-size: 85px;
      font-weight: $font-weight-light;
      line-height: $block-height-md - 106;
      @include font-fluid(300px, 1920px, 16px, 70px);
    }
  }

  &-middle {
    @extend %block-common;
    height: $block-height-sm;
    h3 {
      //font-size: 50px;
      font-weight: $font-weight-light;
      line-height: $block-height-sm / 2.6;
      @include font-fluid(300px, 1920px, 16px, 50px);
    }
  }

  &-bottom {
    @extend %block-common;
    height: $block-height-sm;
    color: $dark;
    background: $white;
    h3 {
      //font-size: 50px;
      font-weight: $font-weight-light;
      line-height: $block-height-sm / 2.6;
      @include font-fluid(300px, 1920px, 16px, 50px);
    }
  }

  &-double {
    @extend %block-common;
    height: $block-height-lg;
    background: $white;
  }

  @each $name, $color in $block-colors {
    &-#{$name} {
      background: #{$color};

      #{$self}-middle {
        background: theme-color-level(#{$name}, if(#{$name} == "primary", 1, 2));
      }

      #{$self}-bottom {
        color: $white;
        background: theme-color-level(#{$name}, if(#{$name} == "primary", 2, 3));
      }
    }
  }

  &-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $block-height-sm - $grid-gutter-width;
    text-align: center;

    h4 {
      margin: ($spacer * .8) 0 0;
    }

    &[disabled] {
      color: theme-color-level(secondary, -3);
    }
  }
}

.analytics {
  position: relative;

  &-wrapper {
    position: relative;
    margin-bottom: ($spacer * 4);
    overflow: hidden;
    box-shadow: $box-shadow;
    @include border-radius(0 $border-radius-xl $border-radius-xl $border-radius-xl);
  }
}

//*** Chart navigation
.chart {
  &-nav {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid rgba($secondary, .3);
  }

  &-nav-item {
    height: $block-height-sm;
    cursor: pointer;
    &:nth-child(2) {
      border: 1px solid rgba($secondary, .3);
      border-top: none;
      border-bottom: none;
    }

    &.active {
      position: relative;
      color: $white;
      background: theme-color-level(secondary, -1);
      &::after {
        position: absolute;
        top: -10px;
        left: calc(50% - 10px);
        display: block;
        width: 20px;
        height: 20px;
        content: "";
        background: $white;
        border-right: 1px solid rgba($secondary, .3);
        border-bottom: 1px solid rgba($secondary, .3);
        transform: rotate(45deg);
      }
    }

    &[disabled] {
      color: theme-color-level(secondary, -8);
      cursor: initial;
    }
  }
}
