.btn {

  font-weight: $font-weight-bold;

  &-block {

    &.card {
      padding: .782rem 0;
      font-size: $font-size-base * .875;
    }
  }

  &.right {
    $width: 87px;

    display: block;
    width: $width;
    padding: .188rem .75rem;
    margin-bottom: $grid-gutter-width / 2;
    margin-left: calc(100% - #{$width} - 15px);
    font-size: $font-size-base * .875;
  }

  &.icon {

    font-size: $font-size-base * .875;
  }
}

.wp-block-button {

  padding: .782rem 0 0;
  // margin-top: $spacer;
  a {  
    font-size: $font-size-base * .875;
  }
}