//*** .row with center position for grid with vary cols
.page {

  &-wrapper {

    @extend .container;
  }
}

.content {
  $self: &;

  position: relative;
  padding-top: ($spacer*3);
  padding-bottom: ($spacer*3);
  
  @extend .row;

  &-primary {

    @extend .col-12;
  }

  &.left {

    #{$self}-primary {
      @extend .col-md-8;
      @extend .col-12;
    }

    #{$self}-aside {
      @extend .col-md-4;
      @extend .col-12;
    }
  }

  &.right {

    #{$self}-primary {
      @extend .col-md-9;
      @extend .col-12;
    }

    #{$self}-aside {
      @extend .col-md-3;
      @extend .col-12;
    }
  }
}

.row-center {
  @extend .row;
  justify-content: center;
}

//*** Behaves just as .container-fluid except for fixed padding = pt-5 & pb-5
.section-fluid {
  @include make-container(0);

  padding-top: ($spacer*3);
  padding-bottom: ($spacer*3);

  @include media-breakpoint-up(sm) {
    padding: ($spacer*3) ($grid-gutter-width/2);
  }
}

//*** .container with fixed padding = pt-5 & pb-5
.container-spacer {
  @extend .container;

  padding-top: ($spacer*3);
  padding-bottom: ($spacer*3);
}