//*** .row with center position for grid with vary cols
.site {
}

.page {
  $self: &;

  padding-top: $spacer * 2;

  &-wrapper {
    position: relative;
    margin: 0 auto;
    // padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
  }

  &-content-primary {
    @extend .col-12;
  }

  &-content-aside {
    top: 0;
  }

  &.left {
    max-width: map-get($container-max-widths, "xl");

    #{$self}-content-primary {
      @extend .col-md-8;
      @extend .col-12;
    }

    #{$self}-content-aside {
      @extend .col-md-4;
      @extend .col-12;

      @include media-breakpoint-up(md) {
        padding-left: 0;
      }
    }
  }

  &.right {
    #{$self}-content-primary {
      @extend .col-md-9;
      @extend .col-12;
    }

    #{$self}-content-aside {
      @extend .col-md-3;
      @extend .col-12;

      @include media-breakpoint-up(md) {
        padding-right: 0;
      }
    }
  }

  &.wide {
    max-width: 1600px;

    #{$self}-content-primary {

      @extend .col-xl-8;
      @extend .col-md-10;
      @extend .col-12;
    }

    #{$self}-content-aside {

      @extend .col-md-2;
      @extend .col-12;

      @include media-breakpoint-up(md) {
        padding-right: 0;
      }
    }
  }
}

.row-center {
  @extend .row;
  justify-content: center;
}

//*** Behaves just as .container-fluid except for fixed padding = pt-5 & pb-5
.section-fluid {
  @include make-container(0);

  padding-top: ($spacer * 3);
  padding-bottom: ($spacer * 3);

  &.first {
    padding-top: 0;
  }

  @include media-breakpoint-up(sm) {
    padding: ($spacer * 3) ($grid-gutter-width/2);
  }
}

//*** Maxwith to adjust for archives sidebar
.container-archive {
  @extend .section-fluid;

  max-width: 1700px;
}

//*** .container with fixed padding = pt-5 & pb-5
.container-spacer {
  @extend .container;

  padding-top: ($spacer * 3);
  padding-bottom: ($spacer * 3);
}
