// Variables @ bottom of _variables.scss

//*** Banner component
.banner {
  $self: &;

  @include make-container(0);
  position: relative;
  min-height: $banner-min-height;

  &-overlay {
    position: absolute;
    top: calc(100% / 2);
    left: (100% / 2);
    width: 100%;
    padding: ($h1-font-size * 2) ($grid-gutter-width / 2) 0;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
    z-index: $zindex-sticky;

    //*** Element -overlay modifyers
    &.image {
      max-width: $banner-image-overlay-max-width;
    }

    &.text {
      max-width: $banner-text-overlay-max-width;
    }

    &.profile {
      display: flex;
      max-width: $banner-profile-overlay-max-width;
      div {
        width: calc(100% - 300px);
        padding: 0 ($grid-gutter-width / 2);
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        
        div {
          width: 100%;
          margin-top: $spacer;
          p {
            font-size: 1rem;
          }
        }

        span {
          margin: 0 auto;
        }
      }
    }

    p {
      font-size: $font-size-base * 1.25;
    }
  }

  &-image {
    width: 100%;
    min-height: $banner-min-height;
    max-height: $banner-image-height;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.5;
    @include border-radius(0);

    &.small {
      width: 100%;
      height: $banner-min-height;
    }
  }

  //*** Block modifyers use -themeColor
  @each $name, $color in $theme-colors {
    &-#{$name} {
      background: #{$color};
    }
  }
}
