.time-indicators {
  position: absolute;
  top: -24px;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 225px;
  .time-indicator {
    width: 33.3333337%;
    text-align: center;
    span {
      display: block;
      padding: 3px 0;
      @include border-radius( $border-radius-lg $border-radius-lg 0 0);
      font-size: 14px;
      cursor: pointer;
      border-right: 1px solid rgba(0, 0, 0, .2);
    }
  }
}
.analytics {
  .time-indicator {
    span {
      background: theme-color-level(primary, 2);
    }
    &.active {
      span {
        background: $primary;
      }
    }
  }
}
.serpbook-nav {
  .time-indicators {
    top: -23px;
    max-width: 190px;
  }
  .time-indicator {
    span {
      font-size: 12px;
      background: $secondary;
      border-bottom: none;
    }
    &.active {
      span {
        background: theme-color-level(secondary, 2);
      }
    }
  }
}
