.container-form {
  $self: &;

  @extend .col-6;
  padding: $grid-gutter-width;
  margin: auto;
  @include border-radius($border-radius-xl);
  background: $secondary;
  box-shadow: $box-shadow;
  color: $white;
}

.form {
  margin: ($grid-gutter-width / 2) 0;

  &-group {
    position: relative;

    .btn {
      cursor: pointer;
    }
  }

  &-input-checker {
    position: absolute;
    right: ($grid-gutter-width / 2);
    bottom: ($input-height-inner-sm / 3);
    visibility: hidden;
    opacity: 0;
  }

  &-control {

    &:focus + .form-input-checker {
      visibility: visible;
      opacity: 1;
      @include transition(opacity .3s linear);
    }
  }

  &-control-file {
    opacity: 0;
  }

  &-control-file-label {

    @extend .btn;
    @extend .btn-info;
    @include border-radius(0 $border-radius-sm $border-radius-sm 0);
    cursor: pointer;
    color: $white;
  }
}
