%image-base {
  img {
      max-width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      @include border-radius(0);
  }
  @include media-breakpoint-up(sm) {
      padding: 0 ($grid-gutter-width/2);
      img {
          @include border-radius($border-radius-sm);
      }
  }
}

.fit {
  &-height {
      @extend %image-base;
      img {
          width: 100%;
          @include media-breakpoint-up(sm) {
              height: 100%;
          }
      }
  }

  &-width {
      @extend %image-base;
      img {
          width: 100%;
      }
  }
}

.flat-width {
  img {
      width: 100%;
  }
  @include media-breakpoint-up(sm) {
      padding: 0 ($grid-gutter-width/2);
  }
}
.full-width-sm {
  padding: 0;
  @include media-breakpoint-up(sm) {
      padding: 0 ($grid-gutter-width/2);
  }
}

figure {
    // height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.post-profile-image {
    max-width: 150px;
    img {
        width: 100%;
        height: auto;
        max-height: 190px;
    }
}