.mdi {
  &-desktop-mac {
    font-size: 62px;
    line-height: 62px;
  }

  &-cellphone-iphone {
    font-size: 36px;
    line-height: 62px;
  }

  &-tablet-ipad {
    font-size: 48px;
    line-height: 62px;
  }

  &-human-female {
    font-size: 62px;
    line-height: 62px;
  }

  &-human-male {
    font-size: 62px;
    line-height: 62px;
  }

  &-format-list-bulleted-type {
    font-size: 36px;
    line-height: 48px;
  }

  &-city {
    font-size: 36px;
    line-height: 48px;
  }

  &-human-handsup {
    font-size: 36px;
    line-height: 48px;
  }

  &-alert-outline {
    font-size: 36px;
    line-height: 48px;

    &.black {
      color: $secondary;
    }

    &.white {
      color: $white;
    }

    &.small {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &-arrow-up-bold {

    &.green {
      color: $green;
    }
  }

  &-arrow-down-bold {

    &.red {
      color: $orange;
    }
  }
}

.sidebar {
  %nav-icons {
    margin: 0 ($spacer / 1.3);
    font-size: $h4-font-size * 1.2;
  }

  .mdi {

    &-account-circle {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      margin: 5px auto;
      background: theme-color-level(secondary, -2);
      @include border-radius($rounded-pill);
      @include transition(all .3s linear);
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        color: theme-color-level(secondary, -10);
        @include transition(all .3s linear);
        transform: translate(-50%, -50%);
      }
    }

    &-chevron-down {
      @extend %nav-icons;
    }

    &-message-bulleted {
      @extend %nav-icons;
    }

    &-keyboard-variant {
      @extend %nav-icons;
    }

    &-google {
      @extend %nav-icons;
    }

    &-google-circles-extended {
      @extend %nav-icons;
    }

    &-trending-up {
      @extend %nav-icons;
    }

    &-playlist-check {
      @extend %nav-icons;
    }

    &-message-alert {
      @extend %nav-icons;
    }

    &-account-settings {
      @extend %nav-icons;
    }

    &-logout-variant {
      @extend %nav-icons;
    }
  }
}
