.sidebar {
  $size: 50px;
  $light: $gray-300;
  $mid: $gray-700;
  $dark: $gray-900;

  position: fixed;
  top: 0;
  z-index: $zindex-popover;
  width: $size;
  height: 100%;
  font-weight: $font-weight-lighter;
  background: $mid;
  @include transition(width .3s linear);

  .branding {
    width: $size;
    height: $size;
    background: $light;
    @include transition(width .3s linear);
    &-wrapper {
      width: 43px;
      height: $size;
      overflow: hidden;
      @include transition(width .3s linear);
    }
    &-logo {
      display: block;
      height: 30px;
      margin: 10px 6.5px;
    }
  }

  .hamburger {
    $height: 4px;
    $padding: 1px;

    position: relative;
    top: -($size + $padding);
    right: -($size + $padding);
    width: $size;
    height: $size;
    padding: $padding;
    cursor: pointer;
    @include transition(all .3s linear);
    &-bar {
      position: relative;
      width: 60%;
      height: $height;
      margin: (($height * 6) - $padding) auto;
      background: $black;
      @include transition(all .3s linear);
      &::before,
      &::after {
        position: absolute;
        display: block;
        width: 100%;
        height: $height;
        content: "";
        background: $black;
        @include transition(all .3s linear);
      }
      &::before {
        top: -($height * 2);
        opacity: 1;
      }
      &::after {
        bottom: -($height * 2);
      }
    }
  }

  .customer {
    max-height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-bottom: 2px solid rgba(255, 255, 255, .25);
    @include transition(all .3s linear);
    .mdi {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      margin: 5px auto;
      background: $gray-600;
      @include border-radius($rounded-pill);
      @include transition(all .3s linear);
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        color: $white;
        @include transition(all .3s linear);
        transform: translate(-50%, -50%);
      }
    }
    &-info {
      text-align: center;
      visibility: hidden;
      opacity: 0;
      @include transition(all .3s linear);
      h4 {
        margin: 11px 0;
        font-weight: $font-weight-lighter;
        color: $white;
      }
      .badge {
        padding: 3px 7px;
        font-size: 14px;
        font-weight: $font-weight-lighter;
        color: $white;
        text-align: center;
        background: $primary;
        @include border-radius($border-radius);
      }
    }
  }

  .navigation {

    &-bar {
      padding: 0;
      color: $white;
      list-style: none;
    }
    &-item {
      position: relative;
      min-height: 40px;
      border-bottom: $nav-tabs-border-width solid $nav-divider-color;
    }
    &-link {
      display: block;
      width: 100%;
      color: inherit;

      .mdi {
        margin: 0 ($spacer / 1.3);
        font-size: $h4-font-size;
      }

      &[disabled] {
        .mdi,
        span {
          font-weight: 400;
          color: $gray-600;
        }
      }

      &:hover {
        //color:
      }
    }
  }

  .submenu {
    @extend .navigation-bar;
    margin-top: 3px;
    background: $dark;
    &-item {
      border-bottom: 1px solid $mid;
    }
    &-link {
      @extend .navigation-link;
      padding: ($spacer / 4) 0;
      margin-left: ($spacer * 1.5);
    }
  }

  &.open {
    width: 210px;
    @include transition(all .3s linear);

    .branding {
      width: 210px;

      .branding-wrapper {
        width: 160px;
      }
    }

    .hamburger {
      right: -161px;
    }

    .customer {
      max-height: $size;

      .mdi {
        width: 100px;
        height: 100px;
        margin: 15px auto 0;

        &::before {
          font-size: 100px;
        }
      }

      .customer-info {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
