/**
 *
 * Navigations
 *
 * Navigation Component
 *  -Elements
 *    Wrapper
 *    Branding
 *    Logo
 *    Bar
 *    Item
 *    Link
 *
 *  .Modifyers
 *    filled - Filled menu bar
 *    Handheld - small screen rules 
 */

// There's room for more improvements. Lots of duplicates and hardcoded property values

// Variables @ bottom of _variables.scss

//*** Placeholders
%flexbox {
  display: flex;
  position: relative;
  align-self: center;
}

%container {
  @include make-container;

  position: relative;
}

%wrapper {
  @extend %container;
  @include make-container-max-widths;
}

%sidebar-font {
  font-size: 19px;
  font-family: $font-family-links;
}

// Themes navigation, to use with modifyer on parent element as --theme-color
@mixin theme-nav($parent) {
  @each $name, $color in $theme-colors {
    &-#{$name} {
      %colors {
        color: #{$color};
      }

      #{$parent}-link {
        @extend %colors;

        &:hover {
          color: theme-color-level(#{$name}, 2);
          text-decoration: none;
        }
      }
    }
  }
}

.navigation {
  $self: &;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-container-height;
  background: $nav-container-background;
  z-index: $zindex-fixed;

  @include media-breakpoint-up(lg) {
    background: transparent;
    // border-bottom: 1px solid $nav-container-border-bottom;
    @include transition(background-color 0.4s linear);

    &[data-scroll="fill"] {
      background: $nav-container-background;
      // border-bottom: none;
    }
  }
  //*** Elements
  &-wrapper {
    @extend %flexbox;
    @extend %wrapper;

    height: inherit;
    justify-content: space-between;
  }

  &-branding {
    @extend %flexbox;

    max-height: ($nav-container-height - $nav-spacing);
    margin-right: ($nav-spacing / 2);

    #{$self}-logo {
      height: 100%;
    }
  }

  &-bar {
    @extend %flexbox;
    @extend %container;

    justify-content: space-between;   
    padding: 0;
    margin: 0;
    list-style: none;

    div {
      
      display: inherit;
      width: 100%;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  &-item {
    @extend %container;

    width: auto;
    margin: 0;
    // align-self: center;

    // @include media-breakpoint-up(lg) {
    //   &:nth-child(3) {
    //     margin-right: calc(100% - 704px);
    //   }
    // }
  }

  &-link {
    display: inline-flex;
    padding: 0;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: none;
    }
  }

  //*** Modifyers
  &.filled {
    background: $nav-container-background;
    border-bottom: none;
  }

  @include theme-nav($self);

  &.handheld {
    @include media-breakpoint-down(md) {
      #{$self}-bar {
        position: fixed;
        top: $nav-container-height;
        right: -100%;
        height: 100%;
        max-width: map-get($grid-breakpoints, "sm");
        flex-direction: column;
        justify-content: left;
        background: $submenu-background;
        @include transition(right 0.3s ease-in-out);

        &[data-state="open"] {
          right: 0;
        }
      }

      #{$self}-item {
        width: 100%;
        padding: 0;
        border-bottom: 2px solid $nav-item-border-bottom;
        &:last-child {
          border-bottom: none;
        }

        //*** quickfix for button.. can be cleaner..
        .btn {
          margin: ($nav-spacing / 2) 0 0 ($nav-spacing / 2);
        }
      }

      #{$self}-link {
        width: 100%;
        justify-content: space-between;
        padding: ($nav-spacing / 2);
        color: $submenu-link-color;

        &:hover {
          color: inherit;
        }
      }
    }
  }

  &.loggedin {
    
    .loggedin-items {

      @include media-breakpoint-up(lg) {
        display: inline-flex;
        border-left: 2px solid $nav-container-border-bottom;
      }

      .toggle-direction {
        
        display: none;
        
        @include media-breakpoint-down(md) {
          display: block;
          width: 100%;
          text-align: right;
        }
      }

      #{$self}-link {
        justify-content: left;
        font-size: inherit;

        @include media-breakpoint-up(lg) {
          font-size: 0;
        }
      }
    }

    #{$self}-item {
      margin: 0;

      @include media-breakpoint-up(lg) {
        &:nth-child(2) {
          margin-right: calc(100% - 502px);
        }
      }
    }

    #{$self}-link {
      
      .mdi-account-circle-outline,
      .mdi-email-outline {
        position: relative;
        margin: 0 $spacer 0 0;
        line-height: 21px;
        z-index: -1;

        @include media-breakpoint-up(lg) {
          margin: 0;
          font-size: 31px;
        }
      }

      .mdi-email-outline {
        &::after {
          display: block;
          position: absolute;
          top: -14px;
          right: -12px;
          width: 24px;
          height: 24px;
          background: theme-color("danger");
          content: "4";
          border-radius: 50%;
          font-size: 14px;
          font-weight: $font-weight-bolder;
          color: white;
          text-align: center;

          @include media-breakpoint-down(md) {
            top: -8px;
            right: -12px;
            width: 20px;
            height: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

//*** Submenu Component
.submenu {
  $self: &;

  position: fixed;
  top: $nav-container-height;
  height: auto;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  list-style: none;
  @include border-radius(0 0 $border-radius-lg $border-radius-lg);
  box-shadow: $dropdown-box-shadow;
  background: $submenu-background;
  @include transition(max-height .4s linear, opacity .4s linear);

  &[data-state="expand"] {
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  &-item {
    @extend .navigation-item;
    padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
    
    &:not(:last-child) {
      
      border-bottom: 1px solid rgba($dark, .4);
    }
  }

  &-link {
    cursor: pointer;
    text-decoration: none;
    color: $dark;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  //*** Modifyers
  &.sidebar {
    position: relative;
    top: initial;
    padding: 0;
    @include border-radius(0);
    box-shadow: none;
    background: none;

    &[data-state="expand"] {
      border-left: 5px solid $primary;

      @include media-breakpoint-down(sm) {
        border-left: 5px solid $smooth;
      }
    }

    #{$self}-link {
      @extend %sidebar-font;
      font-weight: $font-weight-normal;

      &:hover {
        color: $sidebar-link-hover-color;
        font-weight: $font-weight-bold;
      }

      @include media-breakpoint-down(sm) {
        color: $white;
        &:hover {
          color: $smooth;
        }
      }
    }
  }

  &.handheld {
    @include media-breakpoint-down(md) {
      position: relative;
      top: initial;
      padding: 0;
      @include border-radius(0);
      box-shadow: none;

      &[data-state="expand"] {
        background: $submenu-handheld-background;
      }

      #{$self}-item {
        padding: ($nav-spacing / 2);
        border-bottom: none;
        border-top: 1px solid $submenu-item-border;
      }
    }
  }
}

.sidebar-navigation {
  $self: &;
  //*** Elements
  &-list {
    @extend %sidebar-font;
    padding: 0;
    list-style: none;
    font-weight: $font-weight-bold;
  }

  &-item {
    padding: ($nav-spacing / 3) ($nav-spacing / 2);
  }

  &-link {
    color: $sidebar-link-color;
    text-decoration: none;

    &[data-target="expandSecondaryMenu"] {
      display: none;
    }

    &:hover,
    &[data-state="expand"] {
      color: $sidebar-link-hover-color;
      text-decoration: none;
    }
  }

  //*** Modifyers
  &.handheld {
    @include media-breakpoint-down(sm) {
      position: fixed;
      top: $nav-container-height;
      left: 0;
      width: 100%;
      overflow: hidden;
      background: $secondary;
      z-index: $zindex-popover;

      #{$self}-list {
        max-height: 38px;
        padding-bottom: $nav-spacing;
        @include transition(max-height 0.3s linear);

        &[data-toggle="expanded"] {
          max-height: 100vh;
        }
      }

      #{$self}-link {
        color: $white;

        &[data-target="expandSecondaryMenu"] {
          display: flex;
          margin-top: 6px;
          color: $white !important; // Override hover color
        }

        &:hover,
        &[data-state="expand"] {
          color: $smooth;
        }
      }
    }
  }
}

// class for displaying navigation__link arrows
.toggle-direction {
  @include toggle-icon($children: 3, $child: 1);

  display: inline-flex;
  position: relative;
  color: $white;
  line-height: $font-size-base;
  z-index: -1;
  @include media-breakpoint-up(lg) {
    @include toggle-icon($children: 3, $child: 3);
  }

  .mdi {
    margin: 0;
  }
}

a[data-state="expand"] > .toggle-direction {
  @include toggle-icon($children: 3, $child: 2);
}

// Hamburgermenu
.handler {
  $width: 34px;
  $height: 3px;

  %bars {
    position: absolute;
    width: 100%;
    height: $height;
    content: "";
    background: $handler-bars-color;
  }

  @extend %flexbox;
  @extend %container;

  width: $width + $nav-spacing;
  height: inherit;
  margin: 0;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &-bar {
    @extend %flexbox;

    width: inherit;
    height: $height;
    background: $handler-bars-color;
    z-index: -1;

    &::before {
      @extend %bars;
      bottom: ($height * 2.4);
    }

    &::after {
      @extend %bars;
      top: ($height * 2.4);
    }

    &[data-state="open"] {
      transform: rotate(-45deg);
      @include transition(all 0.3s linear);
      &::before {
        top: 0;
        transform: rotate(90deg);
      }

      &::after {
        display: none;
      }
    }
  }
}