@import "vue-select/src/scss/vue-select.scss";

.search-select {
  .v-select {
    position: fixed;
    top: 0;
    right: $grid-gutter-width;
    z-index: 0;
    width: 100%;
    max-width: 480px;
    padding: ($spacer / 2) 0 0;
    visibility: hidden;
    background: $white;
    box-shadow: $box-shadow;
    opacity: 0;
    @include border-radius(0 0 $border-radius-lg $border-radius-lg);

    &.vs--show {
      top: 50px;
      z-index: $zindex-popover;
      visibility: visible;
      opacity: 1;
    }
  }
}

.vs {
  $self: &;

  &__selected,
  &__actions {
    display: none;
  }

  &__dropdown-toggle {
    width: 100%;
    padding: 2px 0 6px;
    background: $white;
  }

  &__selected-options {
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &__dropdown-menu {
    max-height: 400px;
    padding: 0;
    margin-bottom: 0;
    overflow-y: scroll;
    list-style: none;
  }

  &__dropdown-option {
    width: 100%;
    padding: ($spacer / 2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--highlight,
    &:hover {
      color: $white;
      background: $pink;
    }
  }

  &--with-action {

    display: flex;

    #{$self}__selected,
    #{$self}__actions {
      display: flex;
    }

    #{$self}__selected {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.inline {
      width: calc(100% - 34px);
      float: left;
    }
  }
}

//*** Dropdown pill in sidebar
.service-select {
  
  position: absolute;
  list-style: none;
  max-width: 210px;
  width: 100%;
  padding: 0;
  z-index: $zindex-popover;
  text-align: left;
  background: $white;
  overflow: hidden;
  @include border-radius($border-radius-lg);
  box-shadow: $box-shadow;
  

  &-item {

    display: block;
    overflow: hidden;
    padding: ($spacer / 3) ($spacer / 2);
    font-weight: $font-weight-normal;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    &:hover {
      background: $gray-400;
    }
  }
}