%turncate {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiselect {
  
  $self: &;
  
  color: $black !important;

  &__select {
    &::before {
      border-color: $black transparent transparent !important;
      color: $black !important;
    }
  }
  
  &__content {
    width: 100%;
  }

  &__option {

    span {
      @extend %turncate;

      display: block;
      position: relative;
      line-height: 18px;
      width: 85%;
    }

    &#{$self}__option--highlight {
      background: $info !important;

      &::after {
        background: $info !important;
      }
    }
  }
  
  &__single {
    @extend %turncate;
  }

  &.inline {
    width: 90%;
    float: left;
    margin-right: 2%;
  }

  &.no-tags {
    .multiselect__tag {
      display: none !important;
    }
  }
}

.search-select {
  max-width: 200px;

  .multiselect {

    border-color: $black !important;

    &__content-wrapper {
      width: 510px !important;
    }

    &__single,
    &__tags {
      background: $light;
    }
  }
}

//*** Dropdown pill in sidebar
.service-select {
  
  position: absolute;
  list-style: none;
  max-width: 210px;
  width: 100%;
  padding: 0;
  z-index: $zindex-popover;
  text-align: left;
  background: $white;
  overflow: hidden;
  @include border-radius($border-radius-lg);
  box-shadow: $box-shadow;
  

  &-item {

    display: block;
    overflow: hidden;
    padding: ($spacer / 3) ($spacer / 2);
    font-weight: $font-weight-normal;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    &:hover {
      background: $gray-400;
    }
  }
}