@mixin set-background($color-map) {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background: map-get($color-map, #{$i});
    }
  }
}

%table-body {
  display: block;
  box-shadow: $box-shadow;
}

.serpbook {

  &-table {
    position: relative;
    text-align: center;

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    th {
      position: relative;
      color: $white;
      @include set-background($thead-colors);
    }

    td {
      color: $white;
      border-bottom: 1px solid rgba($black, .1);
      @include set-background($tbody-colors);
    }
  }

  &-nav {
    top: 0;

    font: $thead-font-base;
    @include border-radius($border-radius-lg $border-radius-lg 0 0);

    th {
      padding: ($table-cell-padding * 1.25) $table-cell-padding;
    }

    &.fixed {
      position: fixed;
      top: 50px;
      width: 100%;
      max-width: 1080px;
      z-index: $zindex-sticky;
      transition: all .3s linear;
    }
  }

  &-values {

    @extend %table-body;
    @include border-radius(0 0 $border-radius-lg $border-radius-lg);
    font: $tbody-font-base;

    td {
      padding: ($table-cell-padding * 1.459) $table-cell-padding;
    }
  }

  &-extra {
    @extend %table-body;
    position: relative;
    margin: 0 0 ($spacer * 4);
    font: $tbody-font-small;

    .table-label {
      position: absolute;
      top: -21px;
      padding: 0 $grid-gutter-width;
      @include border-radius($border-radius-lg $border-radius-lg 0 0);
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      color: $white;
      background: $dark;
    }

    td {
      padding: ($table-cell-padding * .625) $table-cell-padding;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
