.input {

  @extend .form-group;
  position: relative;
  margin-bottom: $spacer * 1.25;
  text-align: left;

  &-checker {
    position: absolute;
    top: ($input-height-inner-sm * 1.3);
    right: ($grid-gutter-width / 2);

    &.no-label {
      top: ($input-height-inner-sm / 3);
    }
  }

  &-notice {
    position: relative;
    font-weight: $font-weight-light;
    line-height: 1;
    color: $yellow;
  }

  &-control {
    @extend .form-control;

    .full-width {
      width: 100%;
    }

    .half-width {
      width: 50%;
    }
  }

  &.hint-visible {
    margin-bottom: 0;
  }
}
