.locations-body {
  height: auto;
  max-height: 0;
  transition: max-height .3s linear;
  overflow: hidden;
  
  & > div {
    background: $primary-light;
  }

  &[data-toggle="expanded"] {
    max-height: 300px;
  }
}
