.contact {

  margin-bottom: $spacer * 2;

  .dashicons {
    color: $white;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    &::before {
      width: inherit;
      height: inherit;
      font-size: inherit;
    }
  }

  &-info {
    
    line-height: 26px;
    margin: 0;

    & .dashicons {

      color: $black;
    }
  }

  &-social {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: $black;
    justify-content: center;
    align-items: center;
    margin: $spacer 0 0;
  }
}