.locations {

  &-body {

    @extend .row;

    height: auto;
    max-height: 0;
    transition: max-height .3s linear;
    padding: 0 ($grid-gutter-width / 2);
    overflow: hidden;

    &[data-toggle="expanded"] {
      max-height: 400px;
    }
  }

  &-card {
    
    @extend .col-md-6;
    margin-bottom: $grid-gutter-width;
    padding-left: 0;
    padding-right: $grid-gutter-width / 2;
    padding-bottom: $spacer;

    &:nth-child(2n) {

      padding-left: $grid-gutter-width / 2;
      padding-right: 0;
    }

    & .google-map {
      
      padding-bottom: 60% !important;
    }
  }

  &-info {
    @extend .col-12;
    padding: $spacer;
    background: $primary-light;
  }
}