.search-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-fixed;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-position: 50%;
  background-size: cover;

  @include media-breakpoint-up(md) {
    max-height: none;
    overflow-y: visible;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    line-height: 60px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    img {
      display: block;
      width: auto;
      height: 22px;
    }
  }

  .shrinker {
    /* stylelint-disable property-blacklist  */
    transition: padding .5s;
    /* stylelint-enable */
  }

  .counter {
    /* stylelint-disable property-blacklist  */
    transition: hight .5s, opacity .5s, padding .5s, line-height .5s, transform .5s;
    /* stylelint-enable */
  }
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color;
    }

    .border#{$infix}-0 {
      border: 0;
    }

    .border#{$infix}-top-0 {
      border-top: 0;
    }
    .border#{$infix}-right-0 {
      border-right: 0;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0;
    }
    .border#{$infix}-left-0 {
      border-left: 0;
    }

    .border#{$infix}-x {
      border-right: $border-width solid $border-color;
      border-left: $border-width solid $border-color;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color;
      border-bottom: $border-width solid $border-color;
    }
  }
}
.search-body {
  padding-top: 304px;
  word-break: break-word;
  background-color: $jobs-body;
  /* stylelint-disable property-blacklist  */
  transition: padding .5s;
  /* stylelint-enable */

  input,
  button {
    /* stylelint-disable property-blacklist  */
    transition: height .25s, font .25s, line-height .25, padding .25s, border-radius .25s;
    /* stylelint-enable */
  }

  @include media-breakpoint-up(md) {
    &.home {
      padding-top: 100vh;

      .shrinker {
        padding-top: calc(50vh - 100px) !important;
        padding-bottom: calc(50vh - 100px) !important;
      }
    }

    &.shrunk {
      padding-top: 280px;
      .search-header {
        .shrinker {
          /* stylelint-disable declaration-no-important  */
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          /* stylelint-enable */
        }

        .counter {
          height: 0;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 0;
          opacity: 0;
          transform: rotateX(-90deg);
        }

        .search {
          button {
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
          }
          input {
            height: $input-height-sm;
            padding: $input-padding-y-sm $input-padding-x-sm;
            @include font-size($input-font-size-sm);
            line-height: $input-line-height-sm;
            @include border-radius($input-border-radius-sm);
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 102px;
  }
}
.professions {
  max-height: 3rem;
  overflow: hidden;
  /* stylelint-disable property-blacklist  */
  transition: max-height .5s;
  /* stylelint-enable */
}
@include media-breakpoint-down(sm) {
  .professions.expand {
    max-height: 100vh;
    /* stylelint-disable property-blacklist  */
    transition: max-height 1s;
    /* stylelint-enable */
  }
  .border-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    margin-top: .75rem;
    line-height: 1rem;

    .expansion {
      z-index: 100;
      margin-top: 2px;
    }

    &::before {
      position: absolute;
      display: block;
      width: 30px;
      height: 5px;
      content: "";
      background-color: #fff;
    }
  }
}
.bulleted {
  &::before {
    padding-right: .75rem;
    font-size: 2rem;
    line-height: 1rem;
    color: $gray-500;
    vertical-align: sub;
    content: "•";
  }
}
.gap {
  display: block;
  width: 100%;
  background-color: $jobs-body;
}
.capsule {
  display: inline-block;
  padding: .2rem .25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;
  background: $gray-500;
  /* stylelint-disable property-blacklist  */
  border-radius: .25rem;
  /* stylelint-enable */
}

.job-page-title {
  font-size: 26px;
  line-height: 32px;

  @include media-breakpoint-down(md) {
    font-size: 17px;
    line-height: 18px;
  }
}

.no-after::after {
  content: unset;
}


/* stylelint-disable  */
.search-for-jobs-by-category {
  img {
    width: 165px;
    height: 110px;
    object-fit: cover;
  }

  &.city_in_focus .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.search-for-jobs {
  /* Job Ad */
  div.row.border-top {
    &:first-child {
      border-top: unset !important;
    }
  }
}

.job-search-tips {
  .tips_card {
    max-width: 361px;
    margin: auto;

    .bg-white {
      transition: .3s all linear;

      .link {
        @extend .text-decoration-none;
        font-size: 20px;
        color: #00a99d;
        font-weight: 400;
        transition: .3s all linear;

        &:hover {
          @extend .text-decoration-none;
        }
      }
      &:hover {
        background-color: #026e66 !important;

        p {
          @extend .text-white;
        }
      }
    }
  }
}

.t-hover-green-bg-text-white {
  @include transition(.2s background-color linear);

  &.selected {
    @extend .text-white;
    background-color: $jobs-primary;
  }

  &.selected:hover {
    @extend .text-primary;
    background-color: #fff;
  }

  &:hover {
    @extend .text-white;
    background-color: $jobs-primary;
  }
}

.border-bottom-thick {
  border-bottom-width: 2px !important;
}
.border-left-thick {
  border-left-width: 2px !important;
}
.border-right-thick {
  border-right-width: 2px !important;
}
.border-top-thick {
  border-top-width: 2px !important;
}
.border-thick {
  border-width: 2px !important;
}

.company_info_container1 {
  .company-profile-logotyp-container {
    display: flex;
    justify-items: center;

    .company-profile-logotyp {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row;

    .info_container1 {
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-flow: column;

      &> div {
        max-width: 150px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;

    .info_container1 {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 1.5rem;
      display: flex;
      flex-flow: column;
    }
  }
}


.without-cv-tag {
  overflow: hidden;
  background: white;
  list-style: none;
  white-space: nowrap;
  border-radius: 25px;
  display: inline-block;
  color: #F8902B;
  box-shadow: unset;
  outline: unset;
  padding: 1px 2px 0 3px;
  border: solid 1px #F8902B;
  user-select: none;

  &.active {
    .without-cv-tag-content {
      opacity: 1;
      max-width: 150px;
      transition: all .3s linear;
      margin: 0 3px;
    }
  }

  .without-cv-tag-content {
    opacity: 0;
    max-width: 0;
    display: inline-block;
    text-decoration: none;
    transition: all .3s linear;
  }

  .without-cv-tag-icon {
    color: #F8902B;
    line-height: 1;
    display: inline-block;
    box-shadow: unset;
    outline: unset;
  }

  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.without-cv-tag-md {
  display: none;

  @include media-breakpoint-down(md) {
    overflow: hidden;
    background: white;
    list-style: none;
    white-space: nowrap;
    border-bottom-right-radius: 14.4px;
    display: inline-block !important;
    color: #F8902B;
    box-shadow: unset;
    outline: unset;
    padding: 1px 2px 0 3px;
    border: solid 1px #F8902B;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &.active {
      .without-cv-tag-content {
        opacity: 1;
        max-width: 150px;
        transition: all .3s linear;
        margin: 0 3px;
      }
    }

    .without-cv-tag-content {
      opacity: 0;
      max-width: 0;
      display: inline-block;
      text-decoration: none;
      transition: all .3s linear;
    }

    .without-cv-tag-icon {
      color: #F8902B;
      line-height: 1;
      display: inline-block;
      box-shadow: unset;
      outline: unset;
    }
  }
}


/*
.sponsored banned from adblock
*/
.spons-tag {
  @extend .border;
  @extend .font-weight-bold;

  color: #6C757D;
  border: solid 1.2px;
  border-color: #6C757D !important;
  font-size: 14.4px;
  line-height: 17px;
  height: 29px;
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }

  border-radius: 14.4px;
  height: 28.8px;
  width: 85.2px;
  margin-top: -4px;

  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.spons-tag-md {
  display: none;
  @extend .border;
  @extend .font-weight-bold;
  color: #6C757D;
  border: solid 1.2px;
  border-color: #6C757D !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;

  p {
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    font-size: 12px;
    line-height: 15px;
    border-top-right-radius: 12px;
    height: 24px;
    width: 71px;
  }

  @include media-breakpoint-down(md) {
    font-size: 14.4px;
    line-height: 17px;
    border-top-right-radius: 14.4px;
    height: 28.8px;
    width: 85.2px;
    display: inline-flex !important;
  }
}

.posting-info {
  font-size: 1.04rem;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    margin-left: -88px;
    padding-top: 10px;
  }
}

.search-item-days-left {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.posting-data {
  width: calc(100% - 3rem - 85px);

  @include media-breakpoint-down(sm) {
    width: calc(100% - 3rem - 55px);
  }
}

.posting-other-info {
    @include media-breakpoint-down(sm) {
      margin-left: -88px;

      &.spons {
        margin-left: unset;
      }
    }
}

.company_logo {
  width: 80px;
  height: 80px;
  margin: auto 1rem;

  @include media-breakpoint-down(sm) {
    width: 53px;
    height: 53px;
  }

  .img-thumbnail {
    border-color: #979797;
  }

  .no_logo {
    color: #6C757D;
    background-color: #D8D8D8;
    background-clip: content-box;
    padding: 4px;
    line-height: 17px;
  }

  img {
    object-fit: contain;
  }

  @include media-breakpoint-down(md) {
      margin: 1.3rem;
  }
}

.mdi-16px {
  &::before{
    font-size: 16px;
  }
}


.text-decoration-underline {
  text-decoration: underline;
}

.posting-title {
    color: $primary;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    width: calc(100% - 40px);
    margin-top: -3px;

    @include media-breakpoint-down(sm) {
      width: auto;
    }

    a {
      font-size: 1.3rem !important;
    }
}

.save-icon {
    @include media-breakpoint-down(md) {
        border: 0 !important;

        &.btn-primary, &:active, &:focus {
          color: $primary !important;
          background-color: unset !important;
          border-color: unset !important;
          outline: none !important;
          box-shadow: none !important;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .mdi#{$infix}-16px {
      &::before{
        font-size: 16px !important;
      }
    }

    .mdi#{$infix}-18px {
      &::before{
        font-size: 18px !important;
      }
    }

    .mdi#{$infix}-24px {
      &::before{
        font-size: 24px !important;
      }
    }

    .mdi#{$infix}-36px {
      &::before{
        font-size: 36px !important;
      }
    }

    .mdi#{$infix}-48px {
      &::before{
        font-size: 48px !important;
      }
    }
  }
}

/* stylelint-enable */
