.range-slider {
  $font-color: $white;
  $font-size: 0.8rem;
  $knob-height: $font-size * 2;
  $range-height: $knob-height;
  $slider-height: $font-size / 2;
  $transition: 0.125s ease;
  $knob-transitions: margin $transition, height $transition, padding $transition, border-radius $transition;

  align-items: center;
  display: flex;
  height: $range-height;
  position: relative;

  &.active-dragging .slider .slider-limit {
    .knob {
      border-radius: $knob-height $knob-height ($knob-height * 2) ($knob-height * 2);
      height: $knob-height * 2;
      margin-top: $knob-height * -1;
      padding-bottom: $knob-height;
    }
  }

  .slider {
    background: lighten(desaturate($primary, 100%), 15%);
    border-radius: ($slider-height/2);
    height: $slider-height;
    padding: 0 $slider-height 0 0;
    position: relative;
    width: 100%;

    .slider-limit {
      height: $slider-height;
      position: relative;

      .filled-up {
        background: lighten($primary, 7.5%);
        border-radius: ($slider-height/2);
        height: $slider-height;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
      }

      .knob {
        @include transition(join($btn-transition, ($knob-transitions)));
        @extend .btn;
        background-color: $primary;
        border: 0;
        border-radius: ($knob-height / 2);
        color: $font-color;
        cursor: pointer;
        font-size: $font-size;
        height: $knob-height;
        min-width: $knob-height * 1.25;
        outline: 0;
        overflow: visible;
        padding: 0 ($knob-height / 2);
        position: absolute;
        top: (($knob-height - $slider-height)/-2);
        transform: translateX(-50%);
        &:hover {
          background-color: darken($primary, 10%);
          color: $font-color;
        }
        &:focus,
        &:active {
          box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($primary), $primary, 15%), 0.5);
          color: $font-color;
        }
        &::-moz-focus-inner {
          border: 0;
          padding: 0;
        }
      }
    }
  }
}
