.console {

  @extend .container-form;
  padding: $grid-gutter-width / 2;

  &-group {
    @include border-radius($border-radius-lg);
    overflow: hidden;

    .btn {

      @include border-radius(0);
    }
  }

  .btn-info {
    border-color: theme-color-level(info, 2);
    border-style: solid;
    border-width: 1px;
  }

  .btn-warning {
    border-color: theme-color-level(warning, 2);
    border-style: solid;
    border-width: 1px;
  }
}
