.console {

  &-group {
    @include border-radius($border-radius-lg);
    overflow: hidden;

    .btn {

      @include border-radius(0);
    }
  }

  .btn {
    border-color: theme-color-level(info, 2);
    border-style: solid;
    border-width: 1px;

    &:last-child {
      border-color: theme-color-level(warning, 2);
    }
  }
}
