.keywords {
  
  &-placing-growth {
    @extend .col-sm-6;
    border-right: 1px solid $white;
  }

  &-placing-moves {
    @extend .col-sm-6;
    height: 425px;
  }

  &-overall-change {
    display: block;
    width: 300px;
    height: 300px;
    margin: 25px auto;
    border-radius: 50%;
    background: $white;
    line-height: 300px;
    color: #F075A2;
    font-size: 80px;
    font-weight: 300;
  }

  &.top {

  }

  &.bottom {
    padding-top: $spacer;
    margin-top: $spacer;
    border-top: 1px solid $white;
  }
}