.keywords {

  &-placing-overall {
    @extend .container;

    position: relative;
    min-height: 350px;
  }

  &-placing-growth {
    @extend .col-md-6;

    position: relative;
    border-right: 1px solid $white;
  }

  &-placing-moves {
    @extend .col-md-6;

    position: relative;
    height: 425px;
    padding: 0 ($spacer * 3);

    canvas {
      max-width: 300px;
      max-height: 350px;
      margin: 0 auto;
    }
  }

  &-overall-change {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 80%;
    margin: 25px auto;
    font-size: 80px;
    font-weight: $font-weight-light;
    color: #f075a2;
    background: $white;
    @include border-radius(50%);

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  } 

  &-table {
    color: $white;
    thead tr {
      background: $gray-800;
    }

    thead td,
    tbody td {
      &:last-child {
        color: $orange;
      }
      &:nth-last-child(2) {
        color: $pink;
      }
    }
    & .highlight {
      background: theme-color-level(secondary, 3);
    }
  }

  &.top {
    padding-bottom: $spacer;
    border-bottom: 1px solid $white;
  }

  &.bottom {
    padding-top: $spacer;
    margin-top: $spacer;
  }
}
