.chart-container {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eae9e8;
}
.keywords-table {
  color: $white;
  thead tr {
    background: $gray-800;
  }

  thead td,
  tbody td {
    &:last-child {
      color: $orange;
    }
    &:nth-last-child(2) {
      color: $pink;
    }
  }
  & .highlight {
    background: theme-color-level(secondary, 3);
  }
}

.datepicker {
  text-align: right;
  padding: 25px 0;
}

.error {
  width: 100%;
  padding-top: 25px;
  color: black;
  text-align: center;
}

.reports-table {
  color: $white;
  @include border-radius($border-radius-lg);
  overflow: hidden;
  box-shadow: $box-shadow;
  text-align: center;
  td {
    border-right: 1px solid rgba($black, .3);
    &:last-child {
      border: none;
    }   
  }
  thead {
    td {
      background: $gray-800;
      &:first-child {
        background: theme-color-level(primary, 3);
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid rgba($black, .3);
    }
    td {
      background: $secondary;
      &:first-child {
        background: $primary;
      }
    }
  }
}