.keywords {

  &-placing-overall {
    @extend .container;

    position: relative;
    min-height: 350px;
  }

  &-placing-growth {
    @extend .col-sm-6;

    position: relative;
    border-right: 1px solid $white;
  }

  &-placing-moves {
    @extend .col-sm-6;

    position: relative;
    height: 425px;
  }

  &-overall-change {
    display: block;
    width: 300px;
    height: 300px;
    margin: 25px auto;
    font-size: 80px;
    font-weight: $font-weight-light;
    line-height: 300px;
    color: #f075a2;
    background: $white;
    @include border-radius(50%);
  }

  &-table {
    color: $white;
    thead tr {
      background: $gray-800;
    }

    thead td,
    tbody td {
      &:last-child {
        color: $orange;
      }
      &:nth-last-child(2) {
        color: $pink;
      }
    }
    & .highlight {
      background: theme-color-level(secondary, 3);
    }
  }

  &.top {
    padding-bottom: $spacer;
    border-bottom: 1px solid $white;
  }

  &.bottom {
    padding-top: $spacer;
    margin-top: $spacer;
  }
}
