.login {
  max-width: 650px;
  margin: 0 auto;
  background: $secondary;
  padding: $grid-gutter-width;
  @include border-radius($border-radius-lg);
  color: white;
  box-shadow: $box-shadow;
  form {
    padding: ($grid-gutter-width / 2) 0 0;
    margin: ($grid-gutter-width / 2) 0;
    border-top: 1px solid $white;
  }
}