span {
  & .text-right {
    cursor: pointer;
  }
}

.fade {

  %transition {
    @include transition(opacity .5s linear);
  }

  %affect {
    opacity: 0;
  }

  &-enter {
    @extend %affect;
  }

  &-leave-to {
    @extend %affect;
  }

  &-enter-active {
    @extend %transition;
  }

  &-leave-leave {
    @extend %transition;
  }
}

.expand {

  %transition {
    max-height: 100vh;
    @include transition(all .3s linear);
  }

  %affect {
    max-height: 0;
    opacity: 0;
  }

  &-enter {
    @extend %affect;
  }

  &-leave-to {
    @extend %affect;
  }

  &-enter-active {
    @extend %transition;
  }

  &-leave-active {
    @extend %transition;
  }
}

.option-toggle {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 16px;
  p,
  i {
    margin-bottom: 8px;
  }
}
