span {
  & .text-right {
    cursor: pointer;
  }
}

.option-toggle {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 16px;
  p,
  i {
    margin-bottom: 8px;
  }
}
