/**
 *
 * Navigations
 *
 * Navigation Component
 *  -Elements
 *    Wrapper
 *    Branding
 *    Logo
 *    Bar
 *    Item
 *    Link
 *
 *  .Modifyers
 *    filled - Filled menu bar
 *    Handheld - small screen rules 
 */

// There's room for more improvements. Lots of duplicates and hardcoded property values

// Variables @ bottom of _variables.scss

//*** Placeholders
%flexbox {
  display: flex;
  position: relative;
  align-self: center;
}

%container {
  @include make-container;

  position: relative;
}

%wrapper {
  @extend %container;
  @include make-container-max-widths;
}

%sidebar-font {
  font-size: 19px;
  font-family: $font-family-links;
}

// Themes navigation, to use with modifyer on parent element as --theme-color
@mixin theme-nav($parent) {
  @each $name, $color in $theme-colors {
    &-#{$name} {
      %colors {
        color: #{$color};
      }

      #{$parent}-link {
        @extend %colors;

        &:hover {
          color: theme-color-level(#{$name}, 2);
          text-decoration: none;
        }
      }
    }
  }
}

.navigation {
  $self: &;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-container-height;
  z-index: $zindex-fixed;

  @include media-breakpoint-down(lg) {
    
    background: $nav-container-background;
  }

  @include media-breakpoint-up(lg) {
    
    background: transparent;
    @include transition(background-color 0.4s linear);

    &[data-scroll="fill"] {
      background: $nav-container-background;
    }
  }
  //*** Elements
  &-wrapper {
    @extend %flexbox;
    @extend %wrapper;

    height: inherit;
    justify-content: space-between;
  }

  &-branding {
    @extend %flexbox;

    max-height: ($nav-container-height - $nav-spacing);
    margin-right: ($nav-spacing / 2);
  }

  &-bar {
    @extend %flexbox;
    @extend %container;

    justify-content: space-between;   
    padding: 0;
    margin: 0;
    list-style: none;

    div {
      
      display: inherit;
      width: auto;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  &-item {
    @extend %container;

    width: auto;
    margin: 0;
  }

  &-link {
    display: inline-flex;
    padding: 0;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: none;
    }
  }

  //*** Modifyers
  &.filled {
    background: $nav-container-background;
    border-bottom: none;
  }

  @include theme-nav($self);

  &.handheld {
    @include media-breakpoint-down(md) {
      #{$self}-bar {
        position: fixed;
        top: $nav-container-height;
        right: -100%;
        height: 100%;
        max-width: map-get($grid-breakpoints, "sm");
        flex-direction: column;
        justify-content: left;
        background: $submenu-background;
        @include transition(right 0.3s ease-in-out);

        & div {

          display: block;
        }

        &[data-toggle="expanded"] {
          right: 0;
        }
      }

      #{$self}-item {
        width: 100%;
        padding: 0;
        border-bottom: 2px solid $nav-item-border-bottom;
        &:last-child {
          border-bottom: none;
        }

        //*** quickfix for button.. can be cleaner..
        .btn {
          margin: ($nav-spacing / 2) 0 0 ($nav-spacing / 2);
        }
      }

      #{$self}-link {
        width: 100%;
        justify-content: space-between;
        padding: ($nav-spacing / 2);
        color: $submenu-link-color;

        &:hover {
          color: inherit;
        }
      }
    }
  }
}

.submenu {
  $self: &;

  position: fixed;
  top: $nav-container-height;
  height: auto;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  list-style: none;
  @include border-radius(0 0 $border-radius-lg $border-radius-lg);
  box-shadow: $dropdown-box-shadow;
  background: $submenu-background;
  @include transition(max-height .4s linear, opacity .4s linear);

  &-item {
    @extend .navigation-item;
    padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
    
    &:not(:last-child) {
      
      border-bottom: 1px solid rgba($dark, .4);
    }
  }

  &-link {
    cursor: pointer;
    text-decoration: none;
    color: $dark;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &[data-toggle="expanded"] {

    max-height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  &.handheld {
    @include media-breakpoint-down(md) {
      position: relative;
      top: initial;
      padding: 0;
      @include border-radius(0);
      box-shadow: none;

      #{$self}-item {
        padding: ($nav-spacing / 2);
        border-bottom: none;
        border-top: 1px solid $submenu-item-border;
      }
    }
  }
}

// Hamburgermenu
.handler {

  $self: &;

  $width: 34px;
  $height: 3px;

  %bars {
    position: absolute;
    width: 100%;
    height: $height;
    content: "";
    background: $handler-bars-color;
  }

  @extend %flexbox;
  @extend %container;

  width: $width + $nav-spacing;
  height: inherit;
  margin: 0;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &-bar {
    @extend %flexbox;

    width: inherit;
    height: $height;
    background: $handler-bars-color;
    z-index: -1;
    
    &::before {
      @extend %bars;
      bottom: ($height * 2.4);
    }

    &::after {
      @extend %bars;
      top: ($height * 2.4);
    }
    
    [data-toggle="expanded"] + #{$self} > & {
      transform: rotate(-45deg);
      @include transition(all 0.3s linear);
      &::before {
        top: 0;
        transform: rotate(90deg);
      }
    
      &::after {
        display: none;
      }
    }
  }
}
