$open: ".sidebar.open" !default;

.sidebar {

  position: fixed;
  top: 0;
  z-index: $zindex-popover;
  width: $sidebar-collapsed-width;
  height: 100%;
  font-weight: $font-weight-lighter;
  background: $dark;
  @include transition(width .3s linear);

  &.open {
    width: $sidebar-expanded-width;
    @include transition(all .3s linear);
  }

  .panel {
    height: 100%;
    padding-bottom: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.branding {
  width: $sidebar-collapsed-width;
  height: $sidebar-collapsed-width;
  background: theme-color-level(secondary, -10);
  @include transition(width .3s linear);

  &-wrapper {
    width: 44.4px;
    height: $sidebar-collapsed-width;
    overflow: hidden;
    @include transition(width .3s linear);
  }

  &-link {
    display: block;
    width: 50px;
  }

  &-logo {
    display: block;
    height: 30px;
    margin: 10px 6.5px;

    &.no-sidebar {
      position: absolute;
      top: 0;
      left: $grid-gutter-width / 2;
    }

    &.pulse {
      transform: scale(1);
      animation: pulse 1s infinite;
    }
  }

  #{$open} & {
    width: $sidebar-expanded-width;
    &-wrapper {
      width: $sidebar-expanded-width - $sidebar-collapsed-width;
    }

    &-link {
      display: initial;
      width: auto;
    }
  }
}

.hamburger {
  $height: 4px;
  $padding: 1px;

  position: relative;
  top: -($sidebar-collapsed-width + $padding);
  right: -($sidebar-collapsed-width + $padding);
  width: $sidebar-collapsed-width;
  height: $sidebar-collapsed-width;
  padding: $padding;
  cursor: pointer;
  @include transition(all .3s linear);

  &-bar {
    position: relative;
    width: 60%;
    height: $height;
    margin: (($height * 6) - $padding) auto;
    background: theme-color-level(secondary, 6);

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      height: $height;
      content: "";
      background: theme-color-level(secondary, 6);
    }
    &::before {
      top: -($height * 2);
      opacity: 1;
    }
    &::after {
      bottom: -($height * 2);
    }
  }

  #{$open} & {
    right: -($sidebar-expanded-width - $sidebar-collapsed-width) + $padding;
  }
}

.customer {
  max-height: 0;
  padding-bottom: 104%;
  overflow: hidden;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  @include transition(all .3s linear);

  &-info {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    @include transition(all .3s linear);
    h4 {
      margin: $spacer 0;
      font-weight: $font-weight-lighter;
      color: theme-color-level(secondary, -10);
    }

    .badge {
      position: relative;
      max-width: 160px;
      padding: 3px ($grid-gutter-width / 1.4);
      margin: 0 auto;
      overflow: hidden;
      font-size: $font-size-base * .875;
      font-weight: $font-weight-lighter;
      color: $white;
      text-align: center;
      text-overflow: ellipsis; 
      white-space: nowrap;
      background: $primary;
      border: none;
      @include border-radius($rounded-pill);
      &.has-children {
        cursor: pointer;

        &::after {
          position: absolute;
          top: calc(50% - 2px);
          right: 10px;
        }
      }
    }
  }

  #{$open} & {
    max-height: $sidebar-collapsed-width;
    padding-top: $grid-gutter-width / 2;
    & .mdi-account-circle {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      &::before {
        font-size: 100px;
      }
    }

    &-info {
      visibility: visible;
      opacity: 1;
    }
  }
}

.navigation {
  $self: &;

  &-bar {
    padding: 0;
    color: theme-color-level(secondary, -10);
    list-style: none;
  }
  &-item {
    position: relative;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

    &:hover {
      background: $nav-tabs-hover-color;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: inherit;
    cursor: pointer;

    &[disabled] {
      cursor: default;
      .mdi,
      span {
        font-weight: $font-weight-normal;
        color: $dropdown-link-disabled-color;
      }
    }

    &.is-active {
      background: $nav-tabs-hover-color;
    }
  }
}

.submenu {
  @extend .navigation-bar;
  font-size: $font-size-base * .9;
  background: theme-color-level(secondary, 6);

  &-item {
    border-bottom: 1px solid $dark;

    &:hover {
      background: theme-color-level(secondary, 4);
    }
  }
  &-link {
    @extend .navigation-link;
    height: 30px;
    padding-left: ($spacer * 1.5);

    &.is-active {
      background: theme-color-level(secondary, 4);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
