$laboard-header-borders-color: $cyan-300 !default;
$laboard-body-borders-color: $gray-100 !default;

.laboard-table
{
  position: relative;
  margin-bottom: 0;
  text-align: center;
  border-spacing: 0 0;
  border-collapse: separate;

  td {
    color: $gray-700;
  }

  /* stylelint-disable declaration-no-important  */
  /* stylelint-disable selector-no-qualifying-type  */
  th {
    z-index: 100;
    padding: 0 $table-cell-padding-sm;
    font-weight: $font-weight-light;
    color: $white;
    vertical-align: middle !important;
    background-color: $primary;
    border-top: none;
    border-right: 1px solid $laboard-header-borders-color;
    border-bottom: none;

    & > span {
      line-height: $font-size-base;
    }

    &:last-child {
      border-right: none;
    }
  }
  /* stylelint-enable  */

  tr:last-child td {
    border-bottom: none;
  }

  /* stylelint-disable selector-max-type  */
  tbody {
    tr {
      font-size: $font-size-sm;

      td {
        border-right: 1px solid $laboard-body-borders-color;
        border-bottom: 1px solid $laboard-body-borders-color;

        &:last-child {
          border-right: none;
        }
      }
    }

    tr:first-child td {
      border-top: none;
    }
  }
  /* stylelint-enable  */

  td:first-child,
  th:first-child {
    border-left: none;
  }

  td:last-child,
  th:last-child {
    border-right: none;
  }
}

.laboard-table-empty {
  min-height: 500px;
  vertical-align: middle;
}

.laboard-table-sticky {
  tr {
    th {
      position: sticky;
      top: 0;
    }
    /* stylelint-disable selector-max-type  */
    &:last-child {
      th {
        top: $font-size-base + (2 * $table-cell-padding-sm);
        border-top: 1px solid $laboard-header-borders-color;
      }
    }
    /* stylelint-enable */
  }
}
