/* stylelint-disable */
.bg-yellow {
  background-color: desaturate($yellow-500, 15%) !important;
}
.bg-green {
  background-color: desaturate($green-400, 10%) !important;
}
.bg-red {
  background-color: $red-400 !important;
}
.bg-gray-light {
  background-color: rgba($gray-600, .15);
}
.bg-yellow-light {
  background-color: rgba($yellow-400, .15);
}
.bg-green-light {
  background-color: rgba($green-400, .15);
}
.bg-red-light {
  background-color: rgba($red-400, .15);
}
.bg-yellow-light-selected {
  background-color: rgba($yellow-400, .25);
}
.bg-green-light-selected {
  background-color: rgba($green-400, .25);
}
.bg-red-light-selected {
  background-color: rgba($red-400, .25);
}
/* stylelint-enable */
