/* stylelint-disable */
.text-orange {
  color: $orange !important;
}
.text-blue {
  color: $blue !important;
}
.text-green {
  color: $green !important;
}
.text-red {
  color: $red !important;
}
.bg-primary-light {
  background-color: rgba($cyan-100, .35);
}
/* stylelint-enable */
