.vue-tooltip {
  &.tooltip-custom {
    z-index: 200;
    font-size: small;
    color: $white;
    background-color: $gray-600;
    box-shadow: none;

    /* stylelint-disable declaration-no-important */
    .tooltip-arrow {
      border-color: $gray-600 !important;
    }
    /* stylelint-enable */
  }
}
