.analytics,
.serpbook-values,
.serpbook-extra-categories,
.serpbook-extra-products {
  color: $white;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
  @include border-radius($border-radius-lg);
}
.analytics {
  margin-bottom: 50px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $font-weight-lighter;
  }
  h1 {
    height: 72%;
    font-size: 80px;
  }
  h3 {
    height: 60%;
    font-size: 45px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h1,
  h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mdi {
    line-height: 71px;
    &.mdi-desktop-mac,
    &.mdi-human-female,
    &.mdi-human-male {
      font-size: 60px;
    }
    &.mdi-cellphone-iphone,
    &.mdi-city,
    &.mdi-format-list-bulleted-type,
    &.mdi-human-handsup {
      font-size: 32px;
    }
    &.mdi-tablet-ipad {
      font-size: 42px;
    }
  }
  .col-lg-4 {
    padding: 0;
    background: $secondary;
    &:nth-child(2) {
      .middle,
      .bottom {
        .text-center {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 112px;
        }
      }
      .middle {
        background: theme-color-level(secondary, 1);
      }
      .bottom {
        background: theme-color-level(secondary, 2);
      }
    }
    &:first-child {
      @include border-radius(0 0 0 $border-radius-lg);
      background: $primary;
      .middle {
        background: theme-color-level(primary, 1);
      }
      .bottom {
        @include border-radius(0 0 0 $border-radius-lg);
        background: theme-color-level(primary, 2);
      }
    }
    &:last-child {
      @include border-radius(0 $border-radius-lg $border-radius-lg 0);
      color: $black;
      background: $white;
      .bottom {
        @include border-radius(0 0 $border-radius-lg 0);
      }
    }
  }
  .top,
  .middle,
  .bottom,
  .double {
    padding: 12px 15px;
  }
  .top {
    height: 285px;
  }
  .middle,
  .bottom {
    height: 142.5px;
  }
  .double {
    height: 427.5px;
  }
  .nav-doughnut {
    padding: 0 15px;
    .row {
      height: 100%;
    }
    .col {
      position: relative;
      height: 100%;
      padding: 12px 0;
      border-top: 1px solid rgba(0, 0, 0, .2);
      border-right: 1px solid rgba(0, 0, 0, .2);
      border-left: 1px solid rgba(0, 0, 0, .2);
      &.highlighted {
        color: $white;
        background: $secondary;
        &::before {
          position: absolute;
          top: -7.25px;
          left: calc(50% - 7.5px);
          display: block;
          width: 15px;
          height: 15px;
          content: "";
          background: $white;
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          border-left: 1px solid rgba(0, 0, 0, .2);
          transform: rotate(-45deg);
        }
      }
    }
    .first,
    .last {
      border-right: none;
      border-left: none;
    }
    .last {
      @include border-radius(0 0 $border-radius-lg 0);
    }
  }
}
.serpbook-nav,
.serpbook-values,
.serpbook-extra-categories,
.serpbook-extra-products {
  .col-sm-4,
  .col-sm-2 {
    padding: 0;
    .col {
      height: 50px;
      padding: 0;
      &:last-child {
        span {
          border-bottom: none;
        }
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}
.serpbook-nav {
  &.fixed {
    position: fixed;
    top: 50px;
    z-index: $zindex-fixed;
    width: 100%;
    max-width: 1140px;
    .time-indicators {
      top: 49px;
      span {
        @include border-radius(0 0 $border-radius-lg $border-radius-lg);
      }
    }
  }
  color: $white;
  .col {
    height: 50px;
    background: $secondary;
    &:nth-child(1),
    &:nth-child(2) {
      background: $primary;
      span {
        border-bottom: none;
      }
    }
    &:nth-child(1) {
      @include border-radius($border-radius-lg 0 0 0);
      span {
        background: theme-color-level(primary, 1);
        @include border-radius($border-radius-lg 0 0 0);
      }
    }
    &:nth-child(2) {
      & span {
        background: theme-color-level(primary, 2);
      }
    }
    &:nth-child(3) {
      span {
        background: theme-color-level(secondary, 3);
      }
    }
    &:nth-child(4) {
      & > span {
        background: theme-color-level(secondary, 2);
      }
    }
    &:nth-child(5) {
      @include border-radius(0 $border-radius-lg 0 0);
      span {
        background: theme-color-level(secondary, 1);
        @include border-radius(0 $border-radius-lg 0 0);
      }
    }
  }
}
.serpbook-values,
.serpbook-extra-categories,
.serpbook-extra-products {
  .col-sm-4,
  .col-sm-2 {
    .col {
      background: $secondary;
    }
    &:nth-child(1),
    &:nth-child(2) {
      .col {
        background: $primary;
      }
    }
    &:nth-child(1) {
      @include border-radius($border-radius-lg 0 0 $border-radius-lg);
      .col {
        &.first {
          @include border-radius($border-radius-lg 0 0 0);
        }
        &:last-child {
          @include border-radius(0 0 0 $border-radius-lg);
        }
      }
      span {
        &:first-child {
          @include border-radius($border-radius-lg 0 0 0);
        }
        &:last-child {
          @include border-radius(0 0 0 $border-radius-lg);
        }
      }
    }
    &:nth-child(2) {
      span {
        background: theme-color-level(primary, 1);
      }
    }
    &:nth-child(3) {
      span {
        background: theme-color-level(secondary, 2);
      }
    }
    &:nth-child(4) {
      span {
        background: theme-color-level(secondary, 1);
      }
    }
    &:nth-child(5) {
      @include border-radius(0 0 $border-radius-lg $border-radius-lg);
      .col {
        &.first {
          @include border-radius(0 $border-radius-lg 0 0);
        }
        &:last-child {
          @include border-radius(0 0 $border-radius-lg 0);
        }
      }
      span {
        &:first-child {
          @include border-radius(0 $border-radius-lg 0 0);
        }
        &:last-child {
          @include border-radius(0 0 $border-radius-lg 0);
        }
      }
    }
  }
}
.serpbook-values {
  margin-bottom: 10px;
  .col-sm-4,
  .col-sm-2 {
    font-size: 18px;
    .first {
      @include border-radius(0 !important);
      span {
        @include border-radius(0 !important);
      }
    }
  }
  .col-sm-2 {
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      font-size: 26px;
    }
  }
}
.extra-values-wrapper {
  max-height: 0;
  visibility: hidden;
  @include transition( all .4s linear);
  &.open {
    max-height: 999px;
    visibility: visible;
    @include transition( all .4s linear);
  }
}
.serpbook-extra-categories,
.serpbook-extra-products {
  margin-top: -16px;
  margin-bottom: 50px;
  .col-sm-4,
  .col-sm-2 {
    font-size: 14px;
    .col {
      height: 35px;
    }
  }
  .col-sm-4 {
    .first {
      @include border-radius(0 !important);
    }
  }
  .col-sm-2 {
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      font-size: 20px;
    }
  }
}
.group-title {
  position: relative;
  top: -16px;
  left: -15px;
  display: inline-block;
  padding: 3px 16px;
  color: $white;
  background: $secondary;
  @include border-radius($border-radius-lg $border-radius-lg 0 0);
}
