.time-indicators {
  position: absolute;
  top: -24px;
  left: 0;
  display: flex;
  .time-indicator {
    span {
      padding: 3px 12px;
      @include border-radius( $border-radius-lg $border-radius-lg 0 0);
      font-size: 12px;
      cursor: pointer;
      border-right: 1px solid rgba(0, 0, 0, .2);
    }
  }
}
.analytics {
  .time-indicator {
    span {
      background: $primary-dark;
    }
    &.active {
      span {
        background: $primary;
      }
    }
  }
}
.serpbook-nav {
  .time-indicator {
    span {
      padding: 2.5px 11.5px;
      background: $gray-900;
    }
    &.active {
      span {
        background: $gray-700;
      }
    }
  }
}
