@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin font_fluid($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin pusedo_triangle($direction, $color, $size) {

  width: $size;
  height: $size;
  content: '';
  z-index: $zindex-tooltip;
  border-#{$direction}: $size solid $color;

  $transparent-border: $size solid transparent;

  @if $direction == top or $direction == bottom {

    border-left: $transparent-border;
    border-right: $transparent-border;
  } @else if $direction == right or $direction == left{

    border-bottom: $transparent-border;
    border-top: $transparent-border;
  }
}

.anchor-decoration {

  position: relative;
  text-decoration: underline;
  cursor: pointer;
}

.drag-cursor {
  cursor: grab;
}

.copy-alert {

  &.copied {

    &::before {
      @extend %triangle-pos;
      content: 'Copied!';
      top: calc(50% - 14px);
      right: - 80px;
      padding: 4px 8px;
      @include border-radius($border-radius-lg);
      color: $white;
      background: $primary;
    }
    
    &::after {
      @extend %triangle-pos;
      top: calc(50% - 7px);
      right: -($triangle-base * 2);
      @include pusedo_triangle(right, $primary, $triangle-base);
    }
  }
}

.tool-tip {

  position: relative;

  &:hover {
    &::before {
      @extend %triangle-pos;
      top: -9px;
      left: -1px;
      @include pusedo_triangle(top, $black, $triangle-base);
    }
    &::after {
      @extend %triangle-pos;
      top: -26px;
      left: -25px;
      content: 'Set Automatically';
      width:  130px;
      color: $light;
      background: $black;
      text-align: center;
      font-size: 14px;
      border-radius: 5px;
      z-index: 9;
    }
  }
}