body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
}
.app {
  height: 100%;
  min-height: 100vh;
  padding: 0;
}
.page.container-fluid {
  height: 100%;
  padding: 0 0 0 50px;
  @include transition(all .3s linear);
  background: #f9f9f9;
}
.page.open {
  padding: 0 0 0 210px;
  @include transition(all .3s linear);
}
.page-content {
  position: relative;
  min-height: calc(100% - 50px);
  padding: 100px 0 50px;
  overflow: hidden;
}

@import "custom-menu";
@import "custom-sidebar";
@import "custom-frontpage";
@import "custom-timeindicators";
@import "custom-tables";
@import "custom-footer";
@import "custom-loader";

.green,
.mdi-arrow-up {
  color: $green;
}
.red,
.mdi-arrow-down {
  color: $orange;
}

.btn.btn-light {
  border-color: theme-color-level(secondary, -8);
}
.btn.extra-values {
  display: block;
  padding: 2px 15px;
  margin: 0 auto;
  @include border-radius($rounded-pill);
  color: $white;
  background: $secondary;
  &:hover {
    color: $white;
  }
  &:focus {
    box-shadow: none;
  }
}
