@import "components/navigation";
@import "components/blocks";
@import "components/tables";
@import "components/time-indicators";

@import "components/custom-menu";
@import "components/custom-footer";
@import "components/custom-loader";

$sidebar-collapsed-width: 50px !default;
$sidebar-expanded-width: 210px !default;

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 1.42857;
}
.app {
  height: 100%;
  min-height: 100vh;
  padding: 0;
}

.page {
  @extend .container-fluid;
  height: 100%;
  padding: 0 0 0 $sidebar-collapsed-width;
  @include transition(all .3s linear);
  background: $gray-200;
  &.open {
    padding: 0 0 0 $sidebar-expanded-width;
  }
}

//*** Bootstrap extends
.container-page {
  @extend .container;
  padding-top: 100px;
  padding-right: $grid-gutter-width;
  padding-bottom: $sidebar-collapsed-width;
  padding-left: $grid-gutter-width;
}

.green,
.mdi-arrow-up {
  color: $green;
}
.red,
.mdi-arrow-down {
  color: $orange;
}

.btn.btn-light {
  border-color: theme-color-level(secondary, -8);
}
.btn.extra-values {
  display: block;
  padding: 2px 15px;
  margin: 0 auto;
  @include border-radius($rounded-pill);
  color: $white;
  background: $secondary;
  &:hover {
    color: $white;
  }
  &:focus {
    box-shadow: none;
  }
}
