@import "views/sidebar";
@import "components/blocks";
@import "components/tables";
@import "components/time-indicators";
@import "components/mdi-icons";
@import "components/charts";
@import "views/custom-menu";
@import "views/login";
@import "views/custom-footer";
@import "components/loader";
@import "components/search-select";
@import "views/key-statistics";

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 1.42857;
  background: $gray-200;
}
.app {
  height: 100%;
  min-height: 100vh;
  padding: 0;
}

.page {
  @extend .container-fluid;
  height: 100%;
  padding: 0 0 0 $sidebar-collapsed-width;
  margin-bottom: 50px;
  @include transition(all .3s linear);
  background: $gray-200;
  &.open {
    padding: 0 0 0 $sidebar-expanded-width;
    &.no-sidebar {
      padding: 0;
    }
  }
}

//*** Bootstrap extends
.container-page {
  @extend .container;
  padding-top: 100px;
  padding-right: $grid-gutter-width;
  padding-bottom: $sidebar-collapsed-width;
  padding-left: $grid-gutter-width;
}

.green,
.mdi-arrow-up {
  color: $green;
}
.red,
.mdi-arrow-down {
  color: $orange;
}

.btn.btn-light {
  border-color: theme-color-level(secondary, -8);
}

